.imagem {
  width: 100%;
  aspect-ratio: 6 / 2;
  object-fit: cover;
  cursor: pointer;
}

:host {
  ::ng-deep {
    .p-inputnumber-input {
      // width: 100%;
    }

    // .p.button {
    //   justify-content: center !important;
    // }
  }
}
