.imagem {
  width: 100%;
  aspect-ratio: 6 / 2;
  object-fit: cover;
  cursor: pointer;
}

:host {
  ::ng-deep {
    .p-inputnumber-input {
      // width: 100%;
    }

    // .p.button {
    //   justify-content: center !important;
    // }
  }
}

@media (max-width: 991px) {
  .container-2{
  margin-top: 1rem;
  }

  .margin-container-1{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .margin-container-2{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
}

@media (min-width: 992px) {
  .container-2{
    margin-top: 5rem;
  }
  .img-galleria{
    height: 27rem;
  
  }

  .margin-container-1{
    margin-left: 2rem;
    margin-right: 1rem;
  }

  .margin-container-2{
    margin-left: 1rem;
    margin-right: 2rem;
  }

}

