:host {
  ::ng-deep {
    .p-inputnumber {
      width: -webkit-fill-available;
    }

    .p-dropdown {
      width: -webkit-fill-available;
    }

    .p-inputnumber-input {
      width: 7rem;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
      border-color: #4ecbd3;
      background: #4ecbd3;
    }

    .pi-check:before {
      background: #4ecbd3;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
      background: #4ecbd3;
      border-color: #4ecbd3;
    }

    .p-card .p-card-body {
      border: 1px solid #eeeeee;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
      border-color: #75ced4 !important;
      background: #75ced4 !important;
    }

  }

  .message-form-invalid {
    color: red;
    font-size: smaller;
  }

  .uppercase {
    text-transform: uppercase;
  }
}
