<div style="margin-left: 5rem;margin-right: 5rem;">

  <div class="mt-3 flex flex-direction-row align-items-center">

    <div style="text-align: left;">
      <i class="pi pi-angle-left"
        style="font-size: 2rem; color: grey; margin-left: -1rem; margin-right: .5rem;cursor: pointer;"
        (click)="toGoBack()"></i>
    </div>

    <div>
      <h2>Acomodação</h2>
      <p style="color:#222121b8; "> {{this.editId ? 'Editar' : 'Cadastrar' }} </p>
    </div>
  </div>

  <div class="grid">

    <div [formGroup]="accomodationForm" class="grid col-6">
      <div class="col-12 mt-3">
        <hr style="height: 1px; background-color: #ebebeb;border: none;">
      </div>

      <div class="col-10 flex flex-column gap-1">
        <label htmlFor="title">Título da acomodação</label>
        <input pInputText id="title" formControlName="title" />
        <span class="message-form-invalid" *ngIf="isInvalidField('title')">
          Escreva um título de no mínimo 10 caracteres
        </span>
      </div>

      <div class="col-2 flex flex-column gap-1">
        <label for="dailyRate">Valor diária</label>
        <p-inputNumber formControlName="dailyRate" inputId="dailyRate" mode="decimal" locale="pt-BR"
          [minFractionDigits]="2"> </p-inputNumber>
        <!-- <span class="message-form-invalid" *ngIf="isInvalidField('dailyRate')">
          Campo obrigatório
        </span> -->
      </div>

      <div class="grid ml-1" formGroupName="address">

        <div class="col-3 flex flex-column gap-1">
          <label htmlFor="postalCode">CEP</label>
          <input pInputText id="postalCode" formControlName="postalCode" />
        </div>

        <div class="col-9 flex flex-column gap-1">
          <label htmlFor="endereço">Endereço</label>
          <input pInputText id="endereço" formControlName="street" />
        </div>

        <div class="col-2 flex flex-column gap-1">
          <label htmlFor="number">Número</label>
          <input pInputText id="number" formControlName="number" />
        </div>

        <div class="col-5 flex flex-column gap-1">
          <label htmlFor="district">Bairro</label>
          <input pInputText id="district" formControlName="district" />
        </div>

        <div class="col-5 flex flex-column gap-1">
          <label htmlFor="complemento">Complemento</label>
          <input pInputText id="complemento" formControlName="complement" />
        </div>

        <div class="col-10 flex flex-column gap-1">
          <label htmlFor="city">Cidade</label>
          <input pInputText id="city" aria-describedby="city" formControlName="city" />
        </div>

        <div class="col-2 flex flex-column gap-1">
          <label htmlFor="uf">UF</label>
          <input class="uppercase" pInputText id="uf" aria-describedby="uf" formControlName="uf" />
        </div>
      </div>

      <div class="col-4 flex flex-column gap-1">
        <label htmlFor="guestsAllowed">Hóspedes</label>
        <p-inputNumber suffix=" Hóspedes" [min]="0" formControlName="guestsAllowed" [showButtons]="true"
          inputId="guestsAllowed"> </p-inputNumber>
      </div>

      <div class="col-4 flex flex-column gap-1">
        <label htmlFor="rooms">Quartos</label>
        <p-inputNumber suffix=" Quartos" [min]="0" formControlName="rooms" [showButtons]="true" inputId="rooms">
        </p-inputNumber>
      </div>

      <div class="col-4 flex flex-column gap-1">
        <label htmlFor="toilets">Banheiros</label>
        <p-inputNumber suffix=" Banheiros" [min]="0" formControlName="toilets" [showButtons]="true" inputId="toilets">
        </p-inputNumber>
      </div>

      <div class="col-5 flex flex-column gap-1">
        <label htmlFor="check-in">Check-in</label>
        <p-inputMask formControlName="checkIn" mask="99:99" slotChar="_" placeholder="HH:MM"></p-inputMask>
      </div>

      <div class="col-5 flex flex-column gap-1">
        <label htmlFor="check-in">Check-out</label>
        <p-inputMask formControlName="checkOut" mask="99:99" slotChar="_" placeholder="HH:MM"></p-inputMask>
      </div>

      <div class="col-2 flex flex-column gap-1">
        <label for="cleaningFee">Taxa limpeza</label>
        <p-inputNumber formControlName="cleaningFee" inputId="cleaningFee" mode="decimal" locale="pt-BR"
          [minFractionDigits]="2"> </p-inputNumber>
      </div>

      <div class="col-12 flex flex-column gap-1">
        <label>Descrição </label>
        <textarea rows="5" cols="73" pInputTextarea [autoResize]="true" formControlName="description"></textarea>
        <span class="message-form-invalid" *ngIf="isInvalidField('description')">
          Escreva uma descrição de no mínimo 200 caracteres
        </span>
      </div>

      <!-- check-box comodidades -->
      <div class="col-12 flex flex-row flex-wrap gap-2">
        <div class="col-12">
          <label>Comodidades </label>
        </div>

        <div class="col-12 flex flex-row flex-wrap">
          <div *ngFor="let convenience of allConveniences let i = index" class="field-checkbox">
            <p-checkbox name="group" [value]="convenience" [inputId]="convenience.name "
              [ngModelOptions]="{standalone: true}" [(ngModel)]="accomodation.conveniencesPlace"></p-checkbox>
            <label class="mr-3" [for]="convenience.name">{{ convenience.name }}</label>
          </div>
          <span class="col-12 p-0 message-form-invalid"
            *ngIf="accomodationForm.get('conveniencesPlace')?.touched && accomodationForm.get('conveniencesPlace')?.invalid">
            Selecione uma comodidade.
          </span>
        </div>

      </div>
      <!-- end-check-box-comodidades -->

      <!-- upload-fotos -->
      <div class="col-12">

        <p-card header="Fotos">

          <div class="flex flex-column">
            <p-fileUpload #fileUpload mode="basic" chooseLabel="Escolher foto" (onSelect)="onSelectImage($event)"
              accept="image/*"></p-fileUpload>

            <!-- <div class="mt-3 flex flex-row align-items-center	" *ngFor="let image of images; let i = index">
              <img style="width: 150px;" [src]="image" alt="Imagem">

              <div class="flex flex-column justify-content-between	">
                <div class="mb-5">
                  <p-radioButton class="ml-3" name="mainImage" [value]="image" formControlName="mainImage"
                    inputId="mainImage"></p-radioButton>
                  <label for="mainImage" class="ml-2">Imagem principal</label>
                </div>

                <button class="p-button-primary ml-3" type="button" icon="pi pi-times" (click)="deleteImage(image)"
                  pButton></button>
              </div> -->
            <div formArrayName="files" class="mt-3 flex flex-row align-items-center	"
              *ngFor="let file of getFilesFormArray().controls; let i = index">
              <img style="width: 150px;" [src]="file.value" alt="Imagem">

              <div [formGroup]="accomodationForm" class="flex flex-column justify-content-between	">
                <div class="mb-5">
                  <p-radioButton class="ml-3" name="mainImage" [value]="file.value" formControlName="mainImage"
                    inputId="mainImage"></p-radioButton>
                  <label for="mainImage" class="ml-2">Imagem principal</label>
                </div>

                <button class="p-button-primary ml-3" type="button" icon="pi pi-times" (click)="deleteImage(file)"
                  pButton></button>
              </div>
            </div>
          </div>
        </p-card>
        <span class="message-form-invalid" *ngIf="isInvalidField('files')">
          Escolha uma foto
        </span>
        <!-- end-upload-fotos -->

        <!-- button-visualizar -->
        <!-- <div style="text-align: center; " class="col-12 mt-3 ">
        <button class="p-button-secondary" type="button"
          style="justify-content: center; font-weight: 600; font-size: 1.2rem; width: 100%;" (click)="onPreview()"
          pButton>Visualizar</button>
      </div> -->
        <!-- end-button-visualizar -->

        <!-- button-salvar -->
        <div style="text-align: center; " class="col-12 mt-3 ">
          <button type="button" style="justify-content: center; font-weight: 600; font-size: 1.2rem; width: 100%;"
            pButton (click)="onSave()">Salvar</button>
        </div>
        <!-- end-button-salvar -->
      </div>

      <div class="grid col-6 pl-8">
        <div>

        </div>

      </div>

    </div>


  </div>
