<div style="margin-left: 5rem;margin-right: 5rem;">

  <div class="mt-3 flex flex-direction-row align-items-center">

    <div style="text-align: left;">
      <i class="pi pi-angle-left"
        style="font-size: 2rem; color: grey; margin-left: -1rem; margin-right: .5rem;cursor: pointer;"
        (click)="toGoBack()"></i>
    </div>

    <div>
      <h2>Acomodação</h2>
      <p style="color:#222121b8; "> {{this.editId ? 'Editar' : 'Cadastrar' }} </p>
    </div>
  </div>

  <div class="grid">

    <div class="grid col-6">
      <div class="col-12 mt-3">
        <hr style="height: 1px; background-color: #ebebeb;border: none;">
      </div>

      <div class="col-10 flex flex-column gap-1">
        <label htmlFor="title">Título da acmoodação</label>
        <input pInputText id="title" [(ngModel)]="accomodation.title" />
      </div>

      <div class="col-2 flex flex-column gap-1">
        <label for="dailyRate">Valor diária</label>
        <p-inputNumber [(ngModel)]="accomodation.dailyRate" inputId="dailyRate" mode="decimal" locale="pt-BR"
          [minFractionDigits]="2"> </p-inputNumber>
      </div>

      <div class="col-3 flex flex-column gap-1">
        <label htmlFor="cep">CEP</label>
        <input pInputText id="cep" [(ngModel)]="accomodation.address.postalCode" />
      </div>

      <div class="col-9 flex flex-column gap-1">
        <label htmlFor="endereço">Endereço</label>
        <input pInputText id="endereço" [(ngModel)]="accomodation.address.street" />
      </div>

      <div class="col-2 flex flex-column gap-1">
        <label htmlFor="number">Número</label>
        <input pInputText id="number" [(ngModel)]="accomodation.address.number" />
      </div>

      <div class="col-5 flex flex-column gap-1">
        <label htmlFor="name">Bairro</label>
        <input pInputText id="name" aria-describedby="name" />
      </div>

      <div class="col-5 flex flex-column gap-1">
        <label htmlFor="complemento">Complemento</label>
        <input pInputText id="complemento" [(ngModel)]="accomodation.address.complement" />
      </div>

      <div class="col-10 flex flex-column gap-1">
        <label htmlFor="city">Cidade</label>
        <input pInputText id="city" aria-describedby="city" [(ngModel)]="accomodation.address.city" />
      </div>

      <div class="col-2 flex flex-column gap-1">
        <label htmlFor="uf">UF</label>
        <input pInputText id="uf" aria-describedby="uf" [(ngModel)]="accomodation.address.uf" />
      </div>

      <div class="col-4 flex flex-column gap-1">
        <label htmlFor="guestsAllowed">Hóspedes</label>
        <p-inputNumber suffix=" Hóspedes" [min]="0" [(ngModel)]="accomodation.guestsAllowed" [showButtons]="true"
          inputId="guestsAllowed"> </p-inputNumber>
      </div>

      <div class="col-4 flex flex-column gap-1">
        <label htmlFor="rooms">Quartos</label>
        <p-inputNumber suffix=" Quartos" [min]="0" [(ngModel)]="accomodation.rooms" [showButtons]="true"
          inputId="rooms">
        </p-inputNumber>
      </div>

      <div class="col-4 flex flex-column gap-1">
        <label htmlFor="toilets">Banheiros</label>
        <p-inputNumber suffix=" Banheiros" [min]="0" [(ngModel)]="accomodation.toilets" [showButtons]="true"
          inputId="toilets">
        </p-inputNumber>
      </div>

      <div class="col-5 flex flex-column gap-1">
        <label htmlFor="check-in">Check-in</label>
        <p-inputMask [(ngModel)]="accomodation.checkIn" mask="99:99" slotChar="_" placeholder="HH:MM"></p-inputMask>
      </div>

      <div class="col-5 flex flex-column gap-1">
        <label htmlFor="check-in">Check-out</label>
        <p-inputMask [(ngModel)]="accomodation.checkOut" mask="99:99" slotChar="_" placeholder="HH:MM"></p-inputMask>
      </div>

      <div class="col-2 flex flex-column gap-1">
        <label for="cleaningFee">Taxa limpeza</label>
        <p-inputNumber [(ngModel)]="accomodation.cleaningFee" inputId="cleaningFee" mode="decimal" locale="pt-BR"
          [minFractionDigits]="2"> </p-inputNumber>
      </div>

      <div class="col-12 flex flex-column gap-1">
        <label>Descrição </label>
        <textarea rows="5" cols="73" pInputTextarea [autoResize]="true"
          [(ngModel)]="accomodation.description"></textarea>
      </div>

      <!-- check-box comodidades -->
      <div class="col-12 flex flex-row flex-wrap gap-2">
        <div class="col-12">
          <label>Comodidades </label>
        </div>

        <div *ngFor="let convenience of conveniences" class="field-checkbox">
          <p-checkbox name="group" [value]="convenience" [(ngModel)]="selectedConvenience"
            [inputId]="convenience.name"></p-checkbox>
          <label class="mr-3" [for]="convenience.name">{{ convenience.name }}</label>
        </div>
      </div>
      <!-- end-check-box-comodidades -->

      <!-- upload-fotos -->
      <div class="col-12">
        <div class="col-12">
          <label>Fotos </label>
        </div>
        <p-fileUpload #fileUpload (onSelect)="onSelect($event)" (onUpload)="onUpload($event)" [multiple]="true"
          accept="image/*" [maxFileSize]="1000000" chooseLabel="Escolher fotos" [previewWidth]="150">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
      <!-- end-upload-fotos -->

      <!-- button-visualizar -->
      <div style="text-align: center; " class="col-12 mt-3 ">
        <button class="p-button-secondary" type="button"
          style="justify-content: center; font-weight: 600; font-size: 1.2rem; width: 100%;" (click)="onPreview()"
          pButton>Visualizar</button>
      </div>
      <!-- end-button-visualizar -->

      <!-- button-salvar -->
      <div style="text-align: center; " class="col-12 mt-3 ">
        <button type="button" style="justify-content: center; font-weight: 600; font-size: 1.2rem; width: 100%;" pButton
          (click)="onSave()">Salvar</button>
      </div>
      <!-- end-button-salvar -->
    </div>

    <div *ngIf="preview" class="grid col-6 pl-8">

    </div>

  </div>


</div>