<div class="flex" style=" justify-content: space-between; align-items: center; width: 100%; height: 5rem;">
  <div class="ml-7">
    <p style="color: #4ecbd3; font-size: 1.4rem; padding: 1rem; font-weight: 900;
    "> <a [routerLink]="'/'" style="text-decoration: none;">
        Seasons
      </a>
    </p>
  </div>

  <div class="flex">
    <span class="p-input-icon-left mr-2">
      <i class="pi pi-search"></i>
      <input size="small" type="text" pInputText placeholder="Digite um lugar" styleClass="p-button-sm" />
    </span>

    <div class="card mr-2">
      <p-calendar [readonlyInput]="true" size="small" [showIcon]="true" [(ngModel)]="minDate" dateFormat="dd/mm/yy"
        [minDate]="minDate"></p-calendar>
    </div>
    <div class="card mr-2">
      <p-calendar [readonlyInput]="true" [showIcon]="true" [(ngModel)]="maxDate" dateFormat="dd/mm/yy"
        [minDate]="minDate"></p-calendar>
    </div>

    <p-inputNumber class="flex-auto mr-2" [min]="0" [suffix]=" hospedes < 2 ? ' hóspede': ' hóspedes'"
      [(ngModel)]="hospedes" [showButtons]="true" inputId="guests"> </p-inputNumber>

    <p-button label="Buscar" icon="pi pi-search"></p-button>
  </div>
  <div class="mr-7" style="display: flex; justify-content: space-between; align-items: center">
    <button type="button" class="p-button-rounded p-button-text" pButton icon="pi pi-bars"
      (click)="menu.toggle($event)"></button>

    <p-menu #menu [popup]="true" [model]="items"></p-menu>
    <div style="margin-right: 1rem;">
      <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
    </div>
  </div>

</div>
<hr style="height: 1px; background-color: #ebebeb;border: none;">