<div class="grid mx-0 my-0 py-2 px-4">

  <div class="col md:col-3 lg:col-2 flex flex-row align-items-center text-primary" style="font-size: 1.4rem; font-weight: 900;">
    <i class="fa-solid fa-seedling mr-2"></i>
    <div class="flex flex-column">
      <a style="text-decoration: none; cursor:pointer;" (click)="goToHome()">
        Seasons
      </a>
    </div>
    <div>
      <button type="button" class="p-button-rounded p-button-text" pButton icon="pi pi-bars"
        (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>

  <div class="col-12 md:col-9 lg:col-2 p-input-icon-left">
    <input class="w-full" size="small" type="text" [(ngModel)]="inputSearch" pInputText placeholder="Digite um lugar" />
    <i class="pi pi-search"></i>
  </div>
  <div class="col-6 md:col-4 lg:col-2">
    <p-calendar [readonlyInput]="true" [showIcon]="true" placeholder="Data inicial" [(ngModel)]="initialDate"
      dateFormat="dd/mm/yy" [minDate]="minDate"></p-calendar>
  </div>
  <div class="col-6 md:col-4 lg:col-2">
    <p-calendar [readonlyInput]="true" [showIcon]="true" placeholder="Data final" [(ngModel)]="finalDate"
      dateFormat="dd/mm/yy" [minDate]="minDate"></p-calendar>
  </div>
  <div class="col-12 md:col-4 lg:col-2">
    <p-inputNumber [min]="1" placeholder="Hóspedes" class="w-full" inputStyleClass="w-full"
      [suffix]=" guests && guests < 2 ? ' hóspede': ' hóspedes'" [(ngModel)]="guests" [showButtons]="true"
      inputId="guests">
    </p-inputNumber>
  </div>
  <!-- <div class="col">
    <p-button icon="pi pi-times" (click)="deleteSearching()"></p-button>
  </div> -->
  <div class="col">
    <p-button icon="pi pi-search" label="Buscar" (click)="searchAccommodations()"></p-button>
  </div>

</div>
<hr style="height: 1px; background-color: #ebebeb;border: none;">