<div style="margin-left: 5rem;margin-right: 5rem;">
  <div class="mt-3 flex flex-direction-row align-items-center">

    <div style="text-align: left;">
      <i class="pi pi-angle-left"
        style="font-size: 2rem; color: grey; margin-left: -1rem; margin-right: .5rem;cursor: pointer;"
        (click)="backDetais()"></i>
    </div>

    <div>
      <h2>Pedir para reservar</h2>
      <p style="color:#222121b8; ">{{property.title}} , {{property.stateUF}}
      </p>
    </div>

  </div>

  <div class="grid">

    <div class="col-6 mt-3">
      <hr style="height: 1px; background-color: #ebebeb;border: none;">

      <div style="font-size: 1.2rem; color: grey;" class="mt-3 flex flex-direction-row justify-content-between">
        <p>Período</p>
        <p>{{property.initialDate | date :'d MMMM' }} à {{property.finalDate | date :'d MMMM'}} </p>
      </div>

      <div style="font-size: 1.2rem; color: grey;" class="mt-3 flex flex-direction-row justify-content-between">
        <p>Check-in</p>
        <p>às {{property.checkIn}} horas</p>
      </div>

      <div style="font-size: 1.2rem; color: grey;" class="mt-3 flex flex-direction-row justify-content-between">
        <p> Check-out</p>
        <p>às {{property.checkOut}} horas</p>
      </div>

      <div style="font-size: 1.2rem; color: grey;" class="mt-3 flex flex-direction-row justify-content-between">
        <p>Hóspedes</p>
        <p>{{property.guests}} hóspedes</p>
      </div>

      <div style="font-size: 1.2rem; color: grey;" class="mt-3 flex flex-direction-row justify-content-between">
        <p>Diárias</p>
        <p>{{property.quantityDaily}} diárias</p>
      </div>

      <div style="font-size: 1.2rem; color: grey;" class="mt-3 flex flex-direction-row justify-content-between">
        <p>Taxa de limpeza</p>
        <p>{{property.totalCleaningFee | currency: 'BRL'}}</p>
      </div>

      <div style="font-size: 1.2rem; color: grey;     font-weight: 600;"
        class="mt-3 flex flex-direction-row justify-content-between">
        <p>Valor Total </p>
        <p> {{property.amount | currency: 'BRL'}}</p>
      </div>

      <div class="mt-3 flex">

        <p-dropdown style="width: 100%;" [options]="cities" [(ngModel)]="selectedCity" placeholder="Forma de pagamento"
          optionLabel="name"></p-dropdown>
      </div>

      <div class="mt-5">
        <span class="p-float-label">
          <textarea style="width: 100%;" id="float-input" rows="5" cols="30" pInputTextarea></textarea>
          <label for="float-input">Enviar uma mensagem</label>
        </span>
      </div>

      <div style="text-align: center;" class="mt-3">
        <button type="button" style="justify-content: center; font-weight: 600; font-size: 1.2rem; width: 100%;" pButton
          (click)="backDetais()">Confirmar
          reserva</button>
      </div>

    </div>
    <div class="col-6">
      <div class="grid pl-8">

        <div class="col-6">
          <h4 class="">acomodação</h4>
          <p style="color:#222121b8; ">{{property.guests}} Hóspedes -
            {{property.rooms}} quartos - {{property.toilets}} banheiros
          </p>

          <h4 class="mt-4">Animais de estimação</h4>
          <ng-container *ngIf="property.petsAllowed; else notAllowed">
            <p style="color:#222121b8;">Permitido</p>
          </ng-container>
          <ng-template #notAllowed>
            <p style="color:#222121b8;">Não permitido</p>
          </ng-template>

          <h4 class="mt-4">Estacionamento</h4>
          <ng-container *ngIf="property.parking; else not">
            <p style="color:#222121b8;">Grátis no local</p>
          </ng-container>
          <ng-template #not>
            <p style="color:#222121b8;">Não possui</p>
          </ng-template>
        </div>

        <div class="col-6">
          <!-- imagem-principal -->
          <div>
            <img style=" border-radius: 5px; width: 15rem;     aspect-ratio: 4/3;
            object-fit: cover;" alt="'" [src]="property.images[0].itemImage">
          </div>
        </div>
      </div>
      <div class="col-12" style="padding-left: 5rem;">

        <!-- comodidades -->
        <h3 class="sub-header" style="color: #4ecbd3;">Comodidades</h3>
        <hr style="height: 1px; background-color: #ebebeb;border: none;">
        <div class="flex flex-direction-row align-items-center flex-wrap">
          <div *ngFor="let convenience of property.conveniences">
            <div class="flex flex-direction-row align-items-center mt-4 mr-5" style="width: max-content">
              <i class={{findIcon(convenience)}}></i>
              <p style="color:#222121b8;" class="ml-1">{{convenience}}</p>
            </div>
          </div>
        </div>
        <!-- end-comodidades -->

      </div>
    </div>
  </div>
