:host {
  ::ng-deep {
    .p-dropdown {
      width: 100% !important;
    }
  }
}

.container-1{
  margin-left: 1rem;
  margin-right: 1rem;
}

.container-2{
  margin-left: 1rem;
  margin-right: 1rem;
}


@media (max-width: 991px) {
  
  .details{
   margin-top: 1rem
  }
  
}

@media (min-width: 992px) {

  .details{
   margin-top: 5rem
  }

  .container-1{
    margin-left: 2rem;
    margin-right: 1rem;
  }

  .container-2{
    margin-left: 1rem;
    margin-right: 2rem;
  }
  
}

