<div>
  <!-- <img style="width:100%;" src="../../../assets/images/background-home"> -->

</div>
<div class="mt-3 ml-7">
  <h2 class="header">Aluguéis de Temporadas</h2>
  <p class="sub-header">em Santa Catarina</p>
</div>

<!-- <div class="mt-3">
  <h1 class="header">{{information.title}}</h1>
  <p class="sub-header">{{information.stateUF}}</p>
</div> -->

<div class="ml-8 mr-3 grid grid-nogutter flex flex-direction-row">

  <div class="col-3" *ngFor="let information of informations">
    <div (click)="sendDetails(information)">
      <div class=" mt-3">
        <img style="width:19rem; height: 19rem; box-shadow: 10px 5px 11px grey; border-radius: 10px;" alt="'"
          [src]="information.src">
        <div
          style="width: 21rem; height: 4.2rem; margin: .5rem; display: flex; flex-direction: column; justify-content: space-between;">
          <h3> {{information.stateUF}}</h3>
          <p style="color:#222121b8">{{information.hospedes}} Hóspedes - {{information.room}} quartos -
            {{information.toilet}} banheiros
          </p>
          <p style="color:#222121b8"><b> {{information.price | currency:'BRL' }} </b>diária</p>
        </div>
      </div>
    </div>
  </div>

</div>