<div>
    <img style="width:100%;" src="../../../assets/images/background-home">
</div>
<div class="ml-5">
    <p class="header">Aluguéis de Temporadas</p>
    <p class="sub-header">em Santa Catarina</p>
</div>
<div class="grid grid-nogutter flex flex-direction-row">
    <div class="col-3" *ngFor="let information of informations">
        <div class="ml-6 mt-3">
            <img style="width:19rem; height: 19rem; box-shadow: 10px 5px 11px grey; border-radius: 10px;" alt="'"
                [src]="information.src">
            <div
                style="width: 21rem; height: 4.2rem; margin: .5rem; display: flex; flex-direction: column; justify-content: space-between;">
                <h3> {{information.stateUF}}</h3>
                <p>{{information.hospedes}} Hóspedes - {{information.room}} quartos - {{information.toilet}} banheiros
                </p>
                <p><b> {{information.price | currency : 'BRL'}} </b>diária</p>
            </div>
        </div>
    </div>
</div>