<div>
  <!-- <img style="width:100%;" src="../../../assets/images/background-home"> -->

</div>
<div class="mt-3 ml-7">
  <h2 class="header">Aluguéis de Temporadas</h2>
  <p class="sub-header" style="color:#222121b8; ">em Santa Catarina</p>
</div>

<div class="ml-7 mr-7 grid grid-nogutter flex flex-direction-row">

  <div class="col-3" *ngFor="let accomodation of accommodations">
    <div class="m-2">
      <p-galleria [value]="accomodation.images" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions"
        [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true" [circular]="true"
        [containerStyle]="{ 'max-width': '640px', 'margin-top':'1em' }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImage" style="width: 100%; display: block; border-radius: 5px" alt="imagem" />
        </ng-template>
      </p-galleria>
    </div>

    <div style="cursor: pointer;" (click)="sendDetails(accomodation)">
      <div class=" m-2">
        <!-- <img style="width:19rem; height: 19rem; box-shadow: 10px 5px 11px grey; border-radius: 10px;" alt="'"
          [src]="information.src"> -->

        <div
          style="width: 21rem; height: 4.2rem; margin: .5rem; display: flex; flex-direction: column; justify-content: space-between;">
          <h3> {{accomodation.title}} em {{accomodation.address.city}}, {{accomodation.address.uf}}</h3>
          <p style="color:#222121b8">{{accomodation.guestsAllowed}} Hóspedes - {{accomodation.rooms}} quartos -
            {{accomodation.toilets}} banheiros
          </p>
          <p style="color:#222121b8"><b> {{accomodation.dailyRate| currency:'BRL' }} </b>diária</p>
        </div>
      </div>
    </div>
  </div>

</div>