<div class="flex flex-column align-items-center justify-content-center" style="height: 80vh;">

  <div class="box-login flex flex-column pt-4 pb-6 pl-7 pr-7 justify-content-center align-items-center"
    style="border: 1px solid #ebebeb; border-radius: 7px;">
    <h2 style="text-align: center; color: white;">Login</h2>


    <div class="mt-2 flex flex-column gap-1" style="width: 20rem;">
      <label htmlFor="username">Login</label>
      <input [(ngModel)]="login.username" pInputText id="username" aria-describedby="username" />
    </div>

    <div class="mt-2  flex flex-column gap-1" style="width: 20rem;">
      <label htmlFor="password">Senha</label>
      <input [(ngModel)]="login.password" pInputText type="password" id="password" aria-describedby="password" />
    </div>

    <div class="flex mt-4 justify-content-center" style="width: 20rem;">
      <button style="color: white" type="button"
        style="justify-content: center; font-weight: 600; font-size: 1.2rem; width: 100%;" (click)="doLogin()"
        pButton>Entrar</button>
    </div>

    <div id="google-btn" class="flex mt-4 justify-content-center"></div>

  </div>
  <div style="text-align: center; width: 30rem;" class="mt-2">
    <span style="cursor: pointer;" (click)="goToRegistration()" class="text-primary ml-2 font-medium">Não sou
      cadastrado</span>
  </div>

</div>