<div style="margin-left: 5rem;margin-right: 5rem;">

  <div class="mt-3 flex flex-direction-row align-items-center">

    <div style="text-align: left;">
      <i class="pi pi-angle-left"
        style="font-size: 2rem; color: grey; margin-left: -1rem; margin-right: .5rem;cursor: pointer;"
        (click)="toGoBack()"></i>
    </div>

    <div>
      <h2>Acomodações cadastradas</h2>
    </div>

  </div>
  <div class="mt-3">
    <p-table [value]="accommodations" [tableStyle]="{ 'max-width': '90vw' }" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th>ID</th>
          <th>Imagem</th>
          <th>Name</th>
          <th>Endereço</th>
          <th>Diária</th>
          <th>Descrição</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-accomodation>
        <tr>
          <!-- <td class="vertical-align-middle">
            <button type="button" pButton pRipple [pRowToggler]="accomodation"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td> -->
          <td class="vertical-align-middle">{{ accomodation.id }}</td>
          <td class="vertical-align-middle"><img [src]="accomodation.mainImage" [alt]="accomodation.name" width="100"
              class="shadow-4" /></td>
          <td class="vertical-align-middle">{{ accomodation.title }}</td>
          <td class="vertical-align-middle">{{ accomodation.address.street +', '+ accomodation.address.number + ', '+
            accomodation.address.city +', ' + accomodation.address.uf}}</td>
          <td class="vertical-align-middle">{{ accomodation.dailyRate | currency: 'BRL' }}
          </td>
          <td style="max-width: 35vw; word-wrap: break-word;" class="vertical-align-middle">{{
            accomodation.description }}</td>
          <td class="vertical-align-middle">
            <div class="flex flex-direction-row">
              <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"
                (click)="onDelete(accomodation.id)"></button>
              <button pButton icon="pi pi-pencil" class="ml-1 p-button-rounded p-button-warning p-button-text"
                (click)="onEdit(accomodation)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="rowexpansion" let-accomodation>
        <tr>
          <td style="background: #f8f9fa;" colspan="7">
            <div>
              <button pButton icon="pi pi-times" class=" ml-5 p-button-rounded p-button-danger p-button-text"
                (click)="onDelete(accomodation.id)"></button>
              <button pButton icon="pi pi-pencil" class="ml-1 p-button-rounded p-button-warning p-button-text"
                (click)="onEdit(accomodation)"></button>
            </div>
          </td>
        </tr>
      </ng-template> -->
    </p-table>
  </div>

</div>
