<div style="margin-left: 5rem;margin-right: 5rem;">

  <div class="mt-3 flex flex-direction-row align-items-center">

    <div style="text-align: left;">
      <i class="pi pi-angle-left"
        style="font-size: 2rem; color: grey; margin-left: -1rem; margin-right: .5rem;cursor: pointer;"
        (click)="toGoBack()"></i>
    </div>

    <div>
      <h2>Acomodações cadastradas</h2>
    </div>

  </div>
  <div class="mt-3">
    <p-table #dt [value]="accommodations" [tableStyle]="{ 'max-width': '90vw' }" dataKey="id"
      [globalFilterFields]="['title', 'id', 'address.street', 'address.uf','dailyRate' ]">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>ID</th>
          <th>Title</th>
          <th>Endereço</th>
          <th>Diária</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="caption">
        <div class="flex">
          <button pButton label="Limpar filtro" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt)"></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input #inputDt pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Digitar palavra" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="body" let-accomodation>
        <tr>
          <td class="vertical-align-middle"><img [src]="accomodation.files[0].url"
              style="height: 5rem; aspect-ratio: 4 / 3; object-fit: cover; width: 100%; display: block; border-radius: 5px"
              [alt]="accomodation.name" width="100" class="shadow-4" /></td>
          <td class="vertical-align-middle">{{ accomodation.id }}</td>
          <td class="vertical-align-middle">{{ accomodation.title }}</td>
          <td class="vertical-align-middle">{{ accomodation.street +', '+ accomodation.number + ', '+
            accomodation.city +', ' + accomodation.uf}}</td>
          <td class="vertical-align-middle">{{ accomodation.dailyRate | currency: 'BRL' }}
          </td>
          <td style="max-width: 35vw; word-wrap: break-word;" class="vertical-align-middle">{{
            accomodation.description }}</td>
          <td class="vertical-align-middle">
            <div class="flex flex-direction-row">
              <button pButton icon="pi pi-pause" class="p-button-rounded   p-button-text"
                (click)="onPause(accomodation.id)"></button>
              <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"
                (click)="onDelete(accomodation)"></button>
              <button pButton icon="pi pi-pencil" class="ml-1 p-button-rounded p-button-warning p-button-text"
                (click)="onEdit(accomodation)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>