<div class="grid p-4">
    <div class="col sm:col-12 lg:col-6">
        <div class="m-2">
            <h2 class="header">Leitor</h2>
            <p class="sub-header" style="color:#222121b8; ">QRCode e código de barras</p>
        </div>
        <div class="scanner-container">

            <zxing-scanner [formats]="formats" [autostart]="true" [tryHarder]="true" (scanFailure)="onScanFailure()"
                (scanError)="onScanError($event)" (scanSuccess)="onCodeResult($event)">
            </zxing-scanner>
        </div>

        <label for="result">Código lido</label>
        <div class="p-inputgroup">
            <input type="text" pInputText [(ngModel)]="result" />
            <button type="button" pButton icon="pi pi-times" (click)="result=''" styleClass="p-button-danger"></button>
        </div>
    </div>
</div>