<div class="grid p-4">
    <div class="col sm:col-12 lg:col-6">
        <zxing-scanner style="width: 100%; height: auto; display: block;" [formats]="formats" [autostart]="true"
            [tryHarder]="true" (scanFailure)="onScanFailure()" (scanError)="onScanError($event)"
            (scanSuccess)="onCodeResult($event)">
        </zxing-scanner>

        <label for="result">Código lido</label>
        <div class="p-inputgroup">
            <input type="text" pInputText [(ngModel)]="result" />
            <button type="button" pButton icon="pi pi-times" (click)="result=''" styleClass="p-button-danger"></button>
        </div>
    </div>
</div>