@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


* {
  --primary-color: #5DA4A9;
  // --secondary-color: #b1c7c9;
  // --success-color: #22C55E;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

html {
  font-size: 15px;
}

body {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
  //   sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: apple-system, Segoe UI, Roboto, sans-serif;
  // font-family: var(--font-family);
  // font-family: apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.p-button {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.p-button-google {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(141, 141, 141) !important;
}

.p-button-danger {
  background-color: rgb(255, 0, 0) !important;
  border: 1px solid rgb(255, 0, 0) !important;
}

.p-button-secondary {
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
}

.p-galleria .p-galleria-indicators .p-galleria-indicator button {
  width: 0.8rem !important;
  height: 0.8rem !important;
}

.p-galleria .p-galleria-indicators {
  padding: 0.5rem !important;
}

.text-primary {
  color: var(--primary-color)
}

.background-primary {
  background-color: var(--primary-color)
}

.message-form-invalid {
  padding: 0px!important;
  color: red;
  font-size: smaller;
}